<div class="container">
    <app-bt-jumb></app-bt-jumb>
  <div class="row">
    <div class="col-xs-4" style="margin-right: 90px;">
      <app-bt-card></app-bt-card>
    </div>
    <div class="col-xs-4" style="margin-right: 90px;">
      <app-bt-card></app-bt-card>
    </div>
    <div class="col-xs-4">
      <app-bt-card></app-bt-card>
    </div>
  </div>
  <br><br><br>
    
    <div class="row">
        <div class="col-xs-4" style="margin-right: 90px;">
          <app-bt-card></app-bt-card>
        </div>
        <div class="col-xs-4" style="margin-right: 90px;">
          <app-bt-card></app-bt-card>
        </div>
        <div class="col-xs-4">
          <app-bt-card></app-bt-card>
        </div>
</div>